.book-button {
  width: 172px;
  height: 32px;
  background: var(--book-button-color);
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  border-radius: 1px;
}

.header__book-button-text {
  padding-left: 20px;
  font-size: 14px;
  font-family: var(--font-family);
}

.header__book-button {
  height: 32px;
  width: 172px;
}

.website-headline__book-button {
  height: 56px;
  width: 198px;
}

.website-headline__book-button-text {
  padding-left: 25px;
  font-size: 16px;
  font-family: var(--font-family);
}

.closing-headline__button {
  height: 56px;
  width: 198px;
}

.closing-headline__book-button-text {
  padding-left: 25px;
  font-size: 16px;
  font-family: var(--font-family);
}

.footer__button {
  padding-top: 7px;
  background: none;
}
