.business-goals__inner {
  padding: 62px 6.5%;
}

.business-goals__header {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.business-goals__goals {
  display: flex;
  padding-top: 64px;
  gap: 30px;
}

@media (width <= 1024px) {
  .business-goals__header {
    text-align: center;
    font-size: 32px;
  }
}

@media (width <= 1280px) {
  .business-goals__goals {
    flex-direction: column;
  }
}
