.footer__inner {
  padding: 70px 135px 44px;
  background: var(--background-color-green);
  display: flex;
  flex-direction: column;
}

.footer-logo {
  color: var(--color-white);
  font-family: var(--third-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
}

.footer-about-header {
  padding-top: 33px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.about-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  padding-top: 6px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-upper-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}

.footer-down-block {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
}

.upper-menu__inner {
  display: flex;
  align-items: flex-end;
  text-align: right;
  gap: 26px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.down-menu__inner {
  padding-top: 32px;
  gap: 26px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.footer-line {
  background: var(--color-white);
  height: 1px;
  opacity: 0.08;
}
