.header {
  background: var(--header-background-color);
  justify-content: center;
  display: flex;
}

.header-inner {
  display: flex;
  padding: 22px 6.5% 20px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 31px;
  font-family: var(--font-family);
  color: var(--secondary-text-color-other);
  flex-shrink: 0;
}

.header-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  flex: 1;
}

@media (width <= 500px) {
  .header-nav-list {
    flex-direction: column;
    gap: 11px;
  }
}

@media (width >= 768px) {
  .header-nav-list {
    font-size: 14px;
    gap: 12px;
  }

  .header-inner {
    flex-direction: row;
  }
}

@media (width >= 1024px) {
  .header-nav-list {
    font-size: 14px;
    gap: 31px;
  }
}

@media (width >= 1280px) {
  .header-nav-list {
    font-size: 16px;
    gap: 31px;
  }
}
