:root {
  --color-white: #fefefe;
  --color-black: #1a1a1a;
  --color-blue: #2e4fd7;
  --color-green: #052825;
  --color-grey: #dedede;
  --color-white-text: #fff;
  --color-lightblue: #e7ebfc;
  --color-track-grey: #b4b4b4;
}
