:root {
  --color-white: #FEFEFE;
  --color-black: #1A1A1A;
  --color-blue: #2E4FD7;
  --color-green: #052825;
  --color-grey: #DEDEDE;
  --color-white-text: #FFFFFF;
  --color-lightblue: #E7EBFC;
  --color-track-grey: #B4B4B4;

}
