@import './styles/global/media.css';
@import './styles/colors/colors.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/container.css';

p {
  margin-block: 0;
}

.paragraph-24 {
  font-family: Leifa, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
}

.parapraph-16 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.29px;
  color: #fff;
}

.parapraph-14 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
}

.container {
  display: grid;
  grid-template-rows: 80px auto 408px;
  grid-template-columns: 100%;
}

.inner-header {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: flex-start;
}

.inner-header-inner-logotype {
  margin-left: 7.7%;
  margin-top: 21px;
}

.inner-header-inner-navigation {
  margin-left: 3.68%;
  margin-top: 26px;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  gap: 31px;
}

.inner-header-inner-logotype__label {
  margin-top: 6px;
}

.inner-header-inner-book-button {
  margin-left: auto;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 26px;
  width: 172px;
  height: 32px;
  background: #2e4fd7;
  color: #fff;
  border-radius: 1px;
}

.inner-header-inner-book-button_text-item {
  padding-left: 20px;
}

.inner-header-inner-book-button_arrow-item {
  display: inline-block;
  padding-left: 10px;
}

main {
  background: #052825;
  display: flex;
  flex-direction: column;
}

.main-page-one-section {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 145px;
  width: 84%;
}

.main-page-one {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 28% 28% 44%;
  align-items: start;
}

.main-page-one__header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-right: 7.3%;
}

.main-page-one__woman-picture {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
}

.main-page-one__main-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-top: 30px;
  margin-right: 19%;
  text-align: justify;
}

.main-page-one__button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.main-page-one__text-around_button {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 45px;
  margin-right: 271px;
  height: 52px;
  width: 250px;
}

.main-page-one__logotypes {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.paragraph-64 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -1.16px;
  text-transform: capitalize;
  color: #fff;
}

.paragraph-20 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: #fff;
}

.main-page-one__woman-picture img {
  width: 100%; /* растянуть по ширине контейнера */
  height: 500px; /* растянуть по высоте контейнера */
  display: block; /* убрать пробелы вокруг inline-img */
}

.p-block {
  display: block;
}

.main-page-one-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 26px;
  width: 196px;
  height: 56px;
  background: #2e4fd7;
  color: #fff;
  border-radius: 1px;
}

.main-page-one-button__text-item {
  padding-left: 25px;
}

.main-page-one-button__arrow-item {
  display: inline-block;
  padding-left: 10px;
}
